<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar publicacao</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<style>
    * {
        padding: 0px;
        margin: 0px;
    }
    .modal {
        opacity: 0;
        pointer-events: none;
        display: none;
    }
    .modal:target {
        display: block;
        opacity: 1;
        pointer-events: auto;
    }
</style>
<body>
    <header>
        <a href="#deseja_voltar">Home</a>
        <a href="#publicar">Publicar</a>
        <p>
            <h1><%= document.nome_public %></h1>
            <h4><%= document.desc_adicional + " / " + document.nome_banda %></h4>
        </p>
    </header>

    <main>
        <%
        tablatura._trechos.forEach(e => {
        %>
        <div id="confirmar_delete<%=e.nome%>" class="modal">
            <div>
                <a href="#fechar" title="fechar" class="fechar">X</a>
                <h2>Deseja mesmo deletar este trecho?</h2>
                <a href="/delete_trecho/<%=tablatura._id%>/<%=e.nome%>">confirmar</a>
            </div>
        </div>
        <table id="p_<%=e.nome%>">
            <thead>
                <tr><td><h3><%=e.nome%></h3></td></tr>
                <tr><td><a href="#confirmar_delete<%=e.nome%>">Delete</a></td></tr>
            </thead>
            <tbody>
                <tr>
                    <%
                    e.compassos.forEach(element1 => {
                    %>
                    <td>
                        <table id="<%=element1.id_compasso%>">
                            <tbody>
                                <tr id="linha cabeçalho">
                                    <%
                                    let tamanho = (e.compass*e.beat_temp);
                                    let cont = 0;
                                    for(var i = 0;i < tamanho;i++) {
                                        if((i%e.beat_temp)==0) {
                                            cont++
                                        %>
                                        <td>
                                            <h4><%=cont%></h4>
                                        </td>
                                        <%
                                        }
                                        else {
                                        %>
                                        <td></td>
                                        <%
                                        }
                                    }
                                    %>
                                </tr>
                                <%
                                element1.linhas.forEach(element2 => {
                                %>
                                <tr id="<%=element2.id_linha%>">
                                    <%
                                    let k = 0;
                                    element2.colunas.forEach(element3 => {
                                    %>
                                    <td>
                                        <select id="<%=e.nome%>_<%=element1.id_compasso%>_<%=element2.id_linha%>_<%=k%>">
                                            <option value="X">X</option>
                                            <option value="O">O</option>
                                            <option value="K">K</option>
                                            <option value="R">R</option>
                                            <option value="L">L</option>
                                            <option value="RL">RL</option>
                                            <option value="LR">LR</option>
                                            <option value="-" selected>-</option>
                                        </select>
                                    </td>
                                    <%
                                    k++
                                    });
                                    %>
                                </tr>
                                <%
                                });
                                %>
                            </tbody>
                        </table>
                    </td>
                    <%
                    });
                    %>
                </tr>
            </tbody>
        </table>
        <%
        });
        %>
        <script>
            window.onload = ()=>{
                atualisar();
            }
            function atualisar() {
                let pg_trechos = new Array(<%=tablatura._trechos.length%>)
                let table_trecho = <%- JSON.stringify(tablatura._trechos) %>
                let select_public = '<%- JSON.stringify(document.public) %>';
                for(var i = 0;i < pg_trechos.length;i++) {
                    let compassos = table_trecho[i].compassos
                    for(var j = 0;j < compassos.length;j++) {
                        let linhas = compassos[j].linhas;
                        for(var k = 0;k < linhas.length;k++) {
                            let colunas = linhas[k].colunas;
                            for(var l = 0;l < colunas.length;l++) {
                                let option = $('#'+table_trecho[i].nome+'_'+j+'_'+k+'_'+l+' option[value='+colunas[l]+']');
                                if(option.val()==colunas[l]){
                                    option.prop('selected','true');
                                }
                                else {
                                    option.prop('selected','false');
                                }
                            }
                        }
                    }
                }
                if(select_public!=$('#public option:selected').val()) $('#public option[value="'+select_public+'"]').prop('selected','true');
            }

            function select_salvar() {
                let pg_trechos = new Array(<%=tablatura._trechos.length%>)
                let table_trecho = <%- JSON.stringify(tablatura._trechos) %>
                for(var i = 0;i < pg_trechos.length;i++) {
                    let compassos = table_trecho[i].compassos
                    for(var j = 0;j < compassos.length;j++) {
                        let linhas = compassos[j].linhas;
                        for(var k = 0;k < linhas.length;k++) {
                            let colunas = linhas[k].colunas;
                            for(var l = 0;l < colunas.length;l++) {
                                colunas[l] = $('#'+table_trecho[i].nome+'_'+j+'_'+k+'_'+l+' option:selected').val();
                            }
                            linhas[k].colunas = colunas;
                        }
                        compassos[j].linhas = linhas;
                    }
                    table_trecho[i].compassos = compassos;
                }
                $.post('/update_trecho',{
                    trechos: table_trecho,
                    id_tabela: <%- JSON.stringify(tablatura._id)%>
                })
            }
        </script>
        <div id="criar" class="div_criar">
            <span><a href="#add_tab">+</a></span>
        </div>
    </main>

    <div id="publicar" class="modal">
        <a href="#fechar" title="fechar" class="fechar">X</a>
        <form action="/update_publicacao/<%=document._id%>" method="post">
            <table>
                <tbody>
                    <tr>
                        <th>Nome da publicação:</th>
                        <td><input type="text" name="nome_public" id="nome_public" value="<%=document.nome_public%>"></td>
                    </tr>
                    <tr>
                        <th>Nome da banda:</th>
                        <td><input type="text" name="nome_banda" id="nome_banda" value="<%=document.nome_banda%>"></td>
                    </tr>
                    <tr>
                        <th>BPM:</th>
                        <td><input type="number" name="bpm_table" id="bpm_table" value="<%=document.bpm_table%>"></td>
                    </tr>
                    <tr>
                        <th>Descrição adicional (opcional):</th>
                        <td><textarea name="desc_adicional" id="desc_adicional" cols="30" rows="10"><%=document.desc_adicional%></textarea></td>
                    </tr>
                    <tr>
                        <th>Public:</th>
                        <td>
                            <select name="public" id="public">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><button type="submit" onclick="select_salvar();">Guardar dados</button></p>
        </form>
    </div>
    <div id="add_tab" class="modal">
        <div>
            <a href="#fechar" title="fechar" class="fechar">X</a>
            <%
            if(validar) {
            %>
            <div>
                <ul>
                    <%
                    validar.forEach(e => {
                    %>
                    <li><%=e.msg%></li>
                    <%
                    })
                    %>
                </ul>
            </div>
            <%
            }
            %>
            <form action="/novo_trecho/<%= document.tab_id %>" method="post" id="novo_trecho">
                <h2>Detalhes do techo</h2>
                <table>
                    <tr>
                        <td>Nome do trecho (sem espaços):</td>
                        <td><input type="text" name="detalhe_nome" id="detalhe_nome" placeholder="ex: verso1, ponte, solo, etc."></td>
                    </tr>
                    <tr>
                        <td>Tipo do compasso:</td>
                        <td><select name="tipo_compass" id="tipo_compass">
                            <option value="2">2/4</option>
                            <option value="3">3/4</option>
                            <option value="4" selected>4/4</option>
                            <option value="5">5/4</option>
                            <option value="7">7/8</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Quantidade de compassos (menor que ?):</td>
                        <td><input type="number" name="quant_compass" id="quant_compass"></td>
                    </tr>
                    <tr>
                        <td>Batidas por tempo:</td>
                        <td><select name="beat_temp" id="beat_temp">
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4" selected>04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>numero de linhas (menor que 12):</td>
                        <td><input type="number" name="num_row" id="num_row"></td>
                    </tr>
                </table>
                <p><button type="reset">Cancelar</button><button type="submit">Concluir</button></p>
            </form>
        </div>
    </div>
    <div id="deseja_voltar" class="modal">
        <div>
            <a href="#fechar" title="fechar" class="fechar">X</a>
            <h2>Deseja mesmo sair?</h2>
            <p>Sair irá excluir todo o seu progresso não salvo nesta página.</p>
            <p><button onclick="window.location.href = '/home'">Sim</button></p>
        </div>
    </div>
    <footer></footer>
</body>
</html>